<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">I thrive on creating products that make a real difference and solve problems for real world users, there's nothing more exciting than seeing someone use something I've created.</p>
                <p class="text-faded">On the journey to a released product I like to ensure code is well architected and modular to allow for ease of understanding while providing the ability to make changes quickly.</p>
                <p class="text-faded">In the past I've developed for both Android and iOS platforms which has given me a deep and clear understanding of their differences and potential applications. I keep up to date with system design practices for Android via social media, Github and dedicated news sites. Most recently I have enjoyed learning and implementing MVP, unit testing and dependency injection.</p>
            </div>
        </div>
    </div>
</section>
